<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeautyBell.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BF09B4B26807A6400DC8F07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BF09B6126807A6700DC8F07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BF09B6C26807A6700DC8F07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
